:root {
    --gallery-dim: 400px;
    --active-dim: 200px;
    --item-dim: 40px;
    --active-hover-color: rgba(0, 0, 0, 0.2);
    --item-hover-color: rgba(255, 255, 255, 0.2);
}

* {
    margin: 0;
    padding: 0;
}

/* Gallery items */
.gallery-items {
    position: relative;
    width: var(--gallery-dim);
    height: var(--gallery-dim);
}

/* Active item */
.active-item {
    position: absolute;
    width: var(--active-dim);
    height: var(--active-dim);
    border-radius: var(--active-dim);
    background-size: cover;
    top: 100px;
    left: 100px;
    animation: active-circle 10s ease-out infinite;
    z-index: 30;
    animation-play-state: running;
    background: #000;
}

.active-item a {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: var(--active-dim);
}

.active-item a:hover {
    background: var(--active-hover-color);
}

/* Gallery item */
.gallery-item {
    position: absolute;
    width: var(--item-dim);
    height: var(--item-dim);
    border-radius: var(--item-dim);
    background-size: cover;
    animation-play-state: running;
}

.gallery-item a {
    display: block;
    height: 100%;
    width: 100%;
    border-radius: var(--item-dim);
}

.gallery-item a:hover {
    background: --item-hover-color;
}